@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 247, 250;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #4466BA;
  --secondary-color: #72A1E5;
  --accent-color: #FFDE57;
  --border-color: #C3D4EF;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f5f7fa;
  font-family: 'Noto Sans KR', sans-serif;
}

.container-with-border {
  border: 1px solid #cfd9e8;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 